# Ignore everything
*

# Do not ignore directories (except the build folder)
!*/
build/

# Specifically un-ignore source and Qt project files
!*.cpp
!*.h
!*.pro
!*.ui

# Keep the gitignore
!.gitignore
